<launch>
    <!-- Dedicated CP0 launch surface. Keep all reproducibility overrides here. -->
    <arg name="bag" />
    <arg name="bag_start" default="40.0" />
    <arg name="config_path" />
    <arg name="path_state" />
    <arg name="path_std" />
    <arg name="path_time" />
    <arg name="verbosity" default="INFO" />
    <arg name="max_cameras" default="2" />
    <arg name="use_stereo" default="true" />
    <arg name="turnsafe_t0_capture" default="false" />
    <arg name="turnsafe_t0_output_path" default="" />
    <arg name="turnsafe_t0_schema" default="turnsafe.t0.v1" />
    <arg name="turnsafe_t0_frozen_base_sha" default="" />
    <arg name="turnsafe_t0_source_sha" default="" />
    <arg name="turnsafe_t0_source_tree" default="" />
    <arg name="turnsafe_t0_source_snapshot_sha256" default="" />
    <arg name="turnsafe_t0_build_provenance_id" default="" />
    <arg name="turnsafe_t0_build_manifest_sha256" default="" />
    <arg name="turnsafe_t0_binary_sha256" default="" />
    <arg name="turnsafe_t0_config_sha256" default="" />
    <arg name="turnsafe_t0_calibration_sha256" default="" />
    <arg name="turnsafe_t0_diagnostic_schema_sha256" default="" />
    <arg name="turnsafe_t0_require_target_stereo_range" default="true" />
    <arg name="turnsafe_t0_capture_causal_imu_intervals" default="false" />
    <arg name="turnsafe_t0_capture_outcome_association_keys" default="false" />
    <arg name="turnsafe_t0_capture_group_bearing_provenance" default="false" />
    <arg name="turnsafe_t0_event_extension_schema" default="turnsafe.t0.event_extension.v1" />
    <arg name="turnsafe_t0_run_identity" default="" />
    <node name="cp0_vio" pkg="ov_msckf" type="ros1_serial_msckf"
          output="screen" clear_params="true" required="true">
        <param name="path_bag" type="str" value="$(arg bag)" />
        <param name="bag_start" type="double" value="$(arg bag_start)" />
        <param name="bag_durr" type="double" value="-1" />
        <param name="verbosity" type="str" value="$(arg verbosity)" />
        <param name="config_path" type="str" value="$(arg config_path)" />
        <param name="use_stereo" type="bool" value="$(arg use_stereo)" />
        <param name="max_cameras" type="int" value="$(arg max_cameras)" />
        <param name="num_opencv_threads" type="int" value="0" />
        <param name="multi_threading_pubs" type="bool" value="false" />
        <param name="multi_threading_subs" type="bool" value="false" />
        <param name="calib_cam_extrinsics" type="bool" value="false" />
        <param name="calib_cam_intrinsics" type="bool" value="false" />
        <param name="calib_cam_timeoffset" type="bool" value="false" />
        <param name="turnsafe_t0_capture" type="bool" value="$(arg turnsafe_t0_capture)" />
        <param name="turnsafe_t0_output_path" type="str" value="$(arg turnsafe_t0_output_path)" />
        <param name="turnsafe_t0_schema" type="str" value="$(arg turnsafe_t0_schema)" />
        <param name="turnsafe_t0_frozen_base_sha" type="str" value="$(arg turnsafe_t0_frozen_base_sha)" />
        <param name="turnsafe_t0_source_sha" type="str" value="$(arg turnsafe_t0_source_sha)" />
        <param name="turnsafe_t0_source_tree" type="str" value="$(arg turnsafe_t0_source_tree)" />
        <param name="turnsafe_t0_source_snapshot_sha256" type="str" value="$(arg turnsafe_t0_source_snapshot_sha256)" />
        <param name="turnsafe_t0_build_provenance_id" type="str" value="$(arg turnsafe_t0_build_provenance_id)" />
        <param name="turnsafe_t0_build_manifest_sha256" type="str" value="$(arg turnsafe_t0_build_manifest_sha256)" />
        <param name="turnsafe_t0_binary_sha256" type="str" value="$(arg turnsafe_t0_binary_sha256)" />
        <param name="turnsafe_t0_config_sha256" type="str" value="$(arg turnsafe_t0_config_sha256)" />
        <param name="turnsafe_t0_calibration_sha256" type="str" value="$(arg turnsafe_t0_calibration_sha256)" />
        <param name="turnsafe_t0_diagnostic_schema_sha256" type="str" value="$(arg turnsafe_t0_diagnostic_schema_sha256)" />
        <param name="turnsafe_t0_require_target_stereo_range" type="bool" value="$(arg turnsafe_t0_require_target_stereo_range)" />
        <param name="turnsafe_t0_capture_causal_imu_intervals" type="bool" value="$(arg turnsafe_t0_capture_causal_imu_intervals)" />
        <param name="turnsafe_t0_capture_outcome_association_keys" type="bool" value="$(arg turnsafe_t0_capture_outcome_association_keys)" />
        <param name="turnsafe_t0_capture_group_bearing_provenance" type="bool" value="$(arg turnsafe_t0_capture_group_bearing_provenance)" />
        <param name="turnsafe_t0_event_extension_schema" type="str" value="$(arg turnsafe_t0_event_extension_schema)" />
        <param name="turnsafe_t0_run_identity" type="str" value="$(arg turnsafe_t0_run_identity)" />
        <param name="save_total_state" type="bool" value="true" />
        <param name="filepath_est" type="str" value="$(arg path_state)" />
        <param name="filepath_std" type="str" value="$(arg path_std)" />
        <param name="record_timing_information" type="bool" value="true" />
        <param name="record_timing_filepath" type="str" value="$(arg path_time)" />
    </node>

</launch>
